// Media style
$desktopWL:1280px;
$desktopWS:980px;
$tableWL:750px;
$tableWS:600px;
$phoneWL:480px;
$phoneWS:320px;

// Colors
$black: #000000;
$grey:#eceaed;
$gold:#c1a067;
$white:#ffffff;
$bgNav:#302a31;
$pink:#c16774;
$silver:#a7a4a4;
$shadow:rgba(128, 128, 128, 0.624);
$textShadow:#555555;

